@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    overflow: auto;
}

.section-banner {
    font-family: Roboto;
    min-height: 300px;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background: #283e4a no-repeat top right/cover;
    border-top: 6px solid #c5b583;
}

.heading {
    padding-top: 70px;
    height: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    line-height: 28px;
}

.course-head {
    margin: 24px;
}

.sub-heading {
    font-size: 24px;
    margin: 0;
}

.course-section {
    padding: 8px 4px;
    background-color: #f3f6f8;
    overflow: auto;
    margin-bottom: 100px;
}

.course-heading {
    margin: 100px 0 4px;
    font-size: 48px;
    line-height: 1.33;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.course-subheading {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.ln-form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ln-form-field {
    width: 360px;
    position: relative;
    left: 150px;
}

.container {
    display: flex;
    flex-direction: row;
}

.course-card_list {
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.filters {
    font-size: 24px;
    font-weight: 800;
    width: 300px;
    background-color: #ffffff;
    color: #51bebb;
    text-align: center;
    height: 500px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}