<section class="section-banner"
    style="background-image:url(./assets/bannerImage.jpg);">
    <div class="heading">
        <p class="course-head">Life is good</p>
        <p class="course-subheading">Be better
        </p>
    </div>
</section>
<section class="course-section">
    <div class="course-heading">
        <p class="course-head">All our Courses</p>
        <p class="course-subheading">Learn the most relevant skills by experienced professionals in international education.</p>
    </div>
    <div class="container">
        <div class="course-card_list">
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
            <app-ln-course [courseTitle]="course_1" [courseInstructor]="tutor1" [courseDate]="date" [courseDuration]="duration1"></app-ln-course>
        </div>
    </div>
</section>