@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    overflow: auto;
}

.section-banner {
    font-family: Roboto;
    height: 75%;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background: #ffffff no-repeat top;
}

.heading {
    position: absolute;
    width: 764px;
    height: 180px;
    left: 120px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 90px;
}

.course-head{
    margin: 0px;
}

.course-subheading {
    margin: 0px;
    color: #51bebb;
}

.sub-heading {
    font-size: 24px;
    margin: 0;
}

.course-section {
    padding: 8px 4px;
    overflow: auto;
    margin-bottom: 100px;
}

.course-heading {
    margin: 100px 0 4px;
    font-size: 48px;
    line-height: 1.33;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.ln-form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ln-form-field {
    width: 360px;
    position: relative;
    left: 150px;
}

.container {
    display: flex;
    flex-direction: row;
}

.course-card_list {
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.filters {
    font-size: 24px;
    font-weight: 800;
    width: 300px;
    background-color: #ffffff;
    color: #51bebb;
    text-align: center;
    height: 500px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}
