@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.section-banner {
    font-family: Roboto;
    min-height: 300px;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background: #283e4a no-repeat top right/cover;
    border-top: 6px solid #c5b583;
}

.heading {
    padding-top: 70px;
    height: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    line-height: 28px;
}

.course-head {
    margin: 24px;
    line-height: 1.2em;
}

.sub-heading {
    font-size: 24px;
    margin: 0;
}

.program-details {
    padding: 50px 0px;
    background-color: #f3f6f8;
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.program-details {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
}

.course-subheading {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.mat-raised-button {
    color: #ffffff;
}

.mat-chip {
    background: #fff;
    color: #51bebb;
    border: 1px solid #51bebb;
}

.section-description {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    justify-content: space-evenly;
    margin: 0px 100px 0px 100px;
    padding-bottom: 100px;
}

.desc-heading {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.desc {
    margin: 0px;
    font-weight: 300;
    margin-bottom: 30px;
}

.mat-raised-button {
    margin-top: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 50%;
}

.example-full-width {
    width: 100%;
}

.example-form {
    display: flex;
    justify-content: space-between;
}

.totalVal {
    display: flex;
    font-size: 20px;
    margin-bottom: 0px;
}

.totalVal p {
    margin: 10px;
}

mat-form-field {
    margin-right: 20px;
    width: 300px;
}