@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
    height: 70px;
    background-color: #c7f0f0;
}
.course-description{
    display: flex;
    flex-wrap:wrap;
}
section {
    margin-left: 100px;}
.header-sticky img {
    height: 36px;
    padding: 20px 33px;
}
.section-banner {
    font-family: Roboto;
    padding: 0;
    box-sizing: border-box;
    width: 640px;
}
.heading {
    margin-top: 50px;
}
.mat-tab-label-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #46a39d;
}
.course-head {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #383b41;
}

.sub-heading {
    font-size: 24px;
    margin: 0;
}

.program-details {
    padding: 50px 0px;
    background-color: #f3f6f8;
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.program-details {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
}

.course-subhead {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
    padding-right: 150px;
}
.course-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.course-subheading {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #383b41;
}
.course-subheading-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.instruct-title {
    padding: 0px 10px;
}
.course-intruct {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.mat-raised-button {
    color: #ffffff;
}

.course-overview {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #383b41;
}
.course-overview-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #595959;
}
.section-description {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    justify-content: space-evenly;
    margin: 0px 100px 0px 100px;
    padding-bottom: 100px;
}

.desc-heading {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.desc {
    margin: 0px;
    font-weight: 300;
    margin-bottom: 30px;
}

.mat-raised-button {
    margin-top: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 400px;
    width: 50%;
}

.example-full-width {
    width: 100%;
}

.example-form {
    display: flex;
    justify-content: space-between;
}

.totalVal {
    display: flex;
    font-size: 20px;
    margin-bottom: 0px;
}

.totalVal p {
    margin: 10px;
}

mat-form-field {
    margin-right: 20px;
    width: 300px;
}
 .ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 .li{
    width: 300px;
}
.course-enroll {
    width:400px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
.instructor{
    display: flex;
    flex-direction: row;
}
.img-bdr{
border-radius: 50%;
width: 91px;
height: 91px;
}

.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}