.course-card_list{
    margin:20px 20px;
}
.course-card{
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    width: 300px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px rgba(0,0,0,0.2);
    height: 100%;
}
img{
    width:100%;
}
.course-card_thumbnail{
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-box-pack: center;
    width: 100%;
    height: 260px;
}

.course-card-desc{
    padding: 20px;
    text-align: left;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    color: rgba(0,0,0,0.9);
}

.course-card_title{
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.33;
    font-weight: 500;
    margin: 0;
}
.course-card_author{
    font-size: 18px;
    line-height: 1;
    font-weight: 200;
    color: #777a7d;
    margin:10px 0px;
}
.course-card_duration{
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    margin:20px 0px;
    line-height: 1.33;
    display: flex;
    justify-content: space-between;
}

.mat-chip{
    background: #51bebb;
    color: #ffffff;
}

