.course-card_list {
    margin: 0px 20px 20px;
}

.course-card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    width: 417px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.course-card:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

img {
    width: 100%;
}

.course-card_thumbnail {
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-box-pack: center;
    width: 100%;
    height: 203px;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.course-card-desc {
    padding: 20px;
    text-align: left;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    color: rgba(0, 0, 0, 0.9);
}

.course-card_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    overflow: hidden;
}

.course-card_author {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1;
    font-weight: 200;
    color: #777a7d;
    margin: 10px 0px;
}

.course-card_duration {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    margin: 20px 0px;
    line-height: 1.33;
    display: flex;
    justify-content: space-between;
}

.course-instructor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.course-rating {
    color: gold;
    font-size: 18px;
}

.course-cost {
    position: absolute;
    top: 177px;
    right: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 5px 10px;
    background: #46a39d;
    box-shadow: 0px 4px 4px #46a39d;
}

.mat-chip {
    background: #fff;
    color: #51bebb;
    border: 1px solid #51bebb;
}

.course-card-chip {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding:0 20px 20px 20px;
}

.defaultCourseBanner {
    width: 200px;
}
