<div class="course-card_list">
    <div class="course-card">
        <div class="course-card_thumbnail">
            <img src="../../../assets/course_1.jpg" alt="Course Image">
        </div>
        <div class="course-card-desc">
            <p class="course-card_title">{{courseTitle}}</p>
            <p class="course-card_author">By {{courseInstructor}}</p>
            <p class="course-card_duration">{{courseDate}} <span>{{courseDuration}}</span></p>
            <p style="color: gold;margin: 0 0 10px 0;">&#9733; &#9733; &#9733; &#9733;</p>
            <p style="margin-bottom: 10px;"><mat-chip-list aria-label="Tags">
                <mat-chip>Easy</mat-chip>
                <mat-chip>All</mat-chip>
                <mat-chip>Tag 3</mat-chip>
            </mat-chip-list></p>
        </div>
    </div>
</div>