<div class="course-card_list">
    <div class="course-card" title="{{courseTitle}}">
        <div class="course-card_thumbnail">
            <ng-container *ngIf="courseImage">
                <img src="{{courseImage}}" alt="Course Image">
            </ng-container>
            <ng-container *ngIf="!courseImage">
                <img class="defaultCourseBanner" src="./assets/iss-logo.png" />
            </ng-container>
        </div>
        <div class="course-card-desc">
            <p class="course-card_title">{{courseTitle}}</p>
            <p class="course-card_author">By {{courseInstructor}}</p>
            <p class="course-card_duration">{{courseDate}} <span>{{courseDuration}}</span></p>
            <p class="course-card-cost">
                <span class="course-rating">&#9733; &#9733; &#9733; &#9733;</span>
                <span class="course-cost">USD {{courseCost}}</span>
            </p>
        </div>
        <p class="course-card-chip">
            <mat-chip-list aria-label="Tags">
                <mat-chip>Easy</mat-chip>
                <mat-chip>All</mat-chip>
                <mat-chip>Tag 3</mat-chip>
            </mat-chip-list>
        </p>
    </div>
</div>