<div class="course-card_list">
    <div class="course-card" title="{{courseTitle}}">
        <div class="course-card_thumbnail">
            <ng-container *ngIf="courseImage">
                <img src="{{courseImage}}" alt="Course Image">
            </ng-container>
            <ng-container *ngIf="!courseImage">
                <img class="defaultCourseBanner" src="./assets/iss-logo.png" />
            </ng-container>
        </div>
        <div class="course-card-desc">
            <p class="course-card_title">{{courseTitle}}</p>
            <p class="course-card_author"><img class="course-instructor" src="../../../assets/course_instructor.png"
                    alt=""> {{courseInstructor}} <span class="course-rating">&#9733; &#9733; &#9733; &#9733; (23)</span>
            </p>
            <!-- <p class="course-card_duration">{{courseDate}} <span>{{courseDuration}}</span></p> -->
            <p class="course-card-cost">

                <span class="course-cost">USD {{courseCost}}</span>
            </p>
        </div>
        <p class="course-card-chip">

            <span class="material-icons">
                play_circle_outline
            </span>36 lectures
            <span class="material-icons">
                local_library
                </span>26 enrolled
            <span class="material-icons">
                schedule
            </span>{{courseDuration}} 1hr 40min
        </p>
    </div>
</div>