@import '~@angular/material/theming';

@include mat-core();
$ln-primary: (
    50: #eaf7f7,
    100: #cbeceb,
    200: #a8dfdd,
    300: #85d2cf,
    400: #6bc8c5,
    500: #51bebb,
    600: #4ab8b5,
    700: #40afac,
    800: #37a7a4,
    900: #279996,
    A100: #dafffe,
    A200: #a7fffc,
    A400: #74fffa,
    A700: #5afff9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$color-theme-primary: mat-palette($ln-primary, 500);
$color-theme-accent: mat-palette($mat-red) ;
$color-theme-warn: mat-palette($mat-indigo);

$color-theme: mat-light-theme((
    color: (
        primary: $color-theme-primary,
        accent: $color-theme-accent,
        warn: $color-theme-warn,)
));

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));
@include angular-material-theme($color-theme);
